# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# Composer
/composer.lock
/composer.phar
/vendor

# Build system
/_build/phpdoc
/_build/phpdoc.cache
/_build/deploy-*.git

# User content
/content
