<IfModule mod_rewrite.c>
    RewriteEngine On
    #May be required to access sub-directories
    #RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]
</IfModule>

# Prevent file browsing
Options -Indexes
