---
layout: default
title: Cookbook
headline: Solutions Cookbook
description: This page provides **recipes** and **solutions** for common tasks that arise when using Pico.
---

{% for item in site.examples|sort:"nav" %}
    <div class="toggle">
        <h4 class="title">{{ item.title }}</h4>
        <div class="togglebox">
            <div>
                {% if item.description %}
                    <p>{{ item.description }}</p>
                {% endif %}

                {{ item.output }}
            </div>
        </div>
    </div>
{% endfor %}
