---
layout: default
title: phpDocumentor
headline: phpDocumentor
description: The phpDocumentor class documentation provides an in-depth view of Pico.
nav-url: /docs/
---

{% capture phpDocSort %}
    {% for phpDoc in site.data.phpDoc %}
        #{{ phpDoc.type }}-{{ phpDoc.last_update }}-{{ phpDoc.id }}={{ forloop.index0 }}
    {% endfor %}
{% endcapture %}

{% assign index = 0 %}
{% assign currentCycle = 0 %}
{% assign previousType = "" %}
{% assign phpDocSort = phpDocSort|split:'#'|sort %}
{% for phpDocSortString in phpDocSort reversed offset:1 %}
    {% assign phpDocSortData = phpDocSortString|strip|split:'=' %}
    {% assign phpDocIndex = phpDocSortData[1]|plus:0 %}
    {% assign phpDoc = site.data.phpDoc[phpDocIndex] %}

    {% if phpDoc.type != previousType and forloop.first == false %}
        {% if currentCycle != 2 %}</div>{% endif %}

        {% assign index = 0 %}
        <hr />
    {% endif %}

    {% assign currentCycle = index|modulo:3 %}
    {% if currentCycle == 0 or phpDoc.type != previousType %}
        <div class="pricing three">
    {% endif %}

    <div class="plan">
        <h3>{{ phpDoc.title }}</h3>
        <div class="features">
            <ul>
                <li>Last Update: {{ phpDoc.last_update|date:"%F %R" }}</li>
            </ul>
        </div>
        <div class="select">
            <div><a class="button" href="{{ site.github.url }}/phpDoc/{{ phpDoc.id }}">Show</a></div>
        </div>
    </div>

    {% if currentCycle == 2 or forloop.last == true %}
        </div>
    {% endif %}

    {% assign previousType = phpDoc.type %}
    {% assign index = index|plus:1 %}
{% endfor %}
