---
layout: default
title: Development
nav: 3
---

{% assign docs = site.plugin-dev|sort:"nav" %}
<div class="light-wrapper">
    <div class="inner">
        <h1 class="aligncenter">Create your own plugins &amp; themes</h1>
        <p class="description aligncenter">
            Below is our developer documentation, you may also refer to Pico's <a href="phpDocumentor/">class documentation</a>
        </p><br />

        <div class="one-fourth">
            <ul>
                {% for doc in docs %}
                    {% for item in doc.toc %}
                        <li>
                            {% if item[1]._title %}
                                <a href="#{{ item[0] }}">{{ item[1]._title }}</a>
                                <ul>
                                    {% for sub in item[1] %}
                                        {% if sub[0] != "_title" %}
                                            <li><a href="#{{ sub[0] }}">{{ sub[1] }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <a href="#{{ item[0] }}">{{ item[1] }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div class="three-fourth last">
            {% for doc in docs %}
                {{ doc.output }}
            {% endfor %}

            <hr>
        </div>
        <div class="clear"></div>
    </div>
</div>
