<header>
    <div class="inner">
        <div class="logo"><a href="index.html"><img src="style/images/logo.png" alt="" /></a></div>

        <nav id="menu" class="menu">
            <ul id="tiny">
                {% assign pages = site.pages|sort:"nav" %}
                {% for nav in pages %}
                    {% if nav.nav > 0 %}
                        <li {% if nav.url == page.url %}class="active"{% endif %}>
                            <a href="{{ nav.url }}">{{ nav.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <div class="clear"></div>
    </div>
</header>