  <!-- Begin Footer Wrapper -->
  <footer class="aligncenter">
    <!-- Begin Inner -->
    <div class="inner">
      <h1>Want to Contribute?</h1>
      <p class="description">Help make Pico better by checking out the <a href="https://github.com/gilbitron/Pico">GitHub repository</a> and submitting pull requests.<br />
      If you find a bug please report it on the <a href="https://github.com/gilbitron/Pico/issues">issues page</a>.</p>
      <ul class="social">
        <li><a href="https://twitter.com/dev7studioshq"><i class="icon-s-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/dev7studios"><i class="icon-s-facebook"></i></a></li>
      </ul>
    </div>
    <!-- Begin Inner -->
  </footer>
  <!-- End Footer Wrapper -->

  <!-- Begin Sub Footer Wrapper -->
  <div class="subfooter-wrapper">
    <!-- Begin Inner -->
    <div class="inner">
      <p>Pico was made by <a href="http://gilbert.pellegrom.me">Gilbert Pellegrom</a> from <a href="http://dev7studios.com">Dev7studios</a>.
      Released under the MIT license.</p>
    </div>
    <!-- Begin Inner -->
  </div>
  <!-- End Sub Footer Wrapper -->