<header>
    <div class="inner">
        <div class="logo"><a href="index.html"><img src="style/images/logo.png" alt="" /></a></div>

        <nav id="menu" class="menu">
            <ul id="tiny">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="docs.html">Docs</a></li>
                <li><a href="plugins.html">Plugins</a></li>
                <li><a href="download.html">Download</a></li>
                <li><a href="hosting.html">Hosting</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>
</header>