{% if include.portfolio %}
    {% assign portfolio = include.portfolio %}
{% else %}
    {% assign portfolio = page.portfolio.items %}
{% endif %}
{% if include.categories %}
    {% assign categories = include.categories %}
{% else %}
    {% assign categories = page.portfolio.categories %}
{% endif %}

<div class="portfolio-wrapper showcase">
    <ul class="filter">
        <li><a class="active" href="#" data-filter="*">All</a></li>
        {% for category in categories %}
            <li><a href="#" data-filter=".{{ category[0] }}">{{ category[1] }}</a></li>
        {% endfor %}
    </ul>
    <ul class="items col4">
        {% for item in portfolio %}
            {% assign imageCount = item.images|size %}
            {% if imageCount == 0 or item.columns %}{% assign columns = true %}{% endif %}
            {% if imageCount > 1 and columns != true %}{% assign carousel = true %}{% endif %}

            {% capture itemHeading %}
                <h2>{{ item.heading | markdownify | remove: "<p>" | remove: "</p>" }}</h2>
            {% endcapture %}
            {% capture itemInfo %}
                <ul class="item-info">
                    {% for info in item.info %}
                        <li>
                            {% if info[0] != "_blank" %}<span class="lite1">{{ info[0] | markdownify | remove: "<p>" | remove: "</p>" | rstrip }}:</span> {% endif %}
                            {{ info[1] | markdownify | remove: "<p>" | remove: "</p>" }}
                        </li>
                    {% endfor %}
                </ul>
            {% endcapture %}
            {% capture itemButton %}
                <a href="{{ item.link }}" class="button" target="_blank">
                    {{ item.button | default: page.portfolio.button | default: "Download" }}
                </a>
            {% endcapture %}
            {% capture itemImage %}
                <div {% if carousel %}id="entry-{{ forloop.index0 }}-carousel" class="image carousel slide"{% else %}class="image single"{% endif %}>
                    {% if carousel %}
                        <div class="carousel-inner">
                    {% endif %}

                    {% assign title_num = forloop.index %}
                    {% for image in item.images %}
                        {% if carousel %}
                            <div class="{% if forloop.first %}active {% endif %}item">
                        {% endif %}

                        <img alt="" width="100%" src="{{ site.github.url }}/{{ image }}">
                        <a href="{{ site.github.url }}/{{ image }}" class="fancybox-media" rel="item-{{ title_num }}">
                            <span class="link"></span>
                        </a>

                        {% if carousel %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if carousel %}
                        </div>
                        <a class="carousel-control left" href="#entry-{{ forloop.index0 }}-carousel" data-slide="prev"></a>
                        <a class="carousel-control right" href="#entry-{{ forloop.index0 }}-carousel" data-slide="next"></a>
                    {% endif %}
                </div>
            {% endcapture %}

            <li class="item {{ item.categories|join: ' ' }}{% unless item.thumbnail %} defaultThumbnail{% endunless %}" ata-callback="callPortfolioScripts();" data-detailcontent='
                {% if columns %}
                    <div class="item-details columns">
                        {{ itemHeading }}
                        {{ itemButton }}
                        {{ itemInfo }}
                    </div>
                    <div class="content columns">
                        {{ itemImage }}
                        {{ item.content }}
                    </div>
                {% else %}
                    <div class="content">
                        {{ itemImage }}
                    </div>
                    <div class="item-details">
                        {{ itemHeading }}
                        {{ itemInfo }}
                        {{ item.content }}
                        {{ itemButton }}
                    </div>
                {% endif %}
                <div class="clear"></div>
            '>
                <a href="#">
                    <div class="overlay">
                        <h3>{{ item.heading | markdownify | remove: "<p>" | remove: "</p>" }}</h3>
                        {% if item.meta %}<span class="meta">{{ item.meta }}</span>{% endif %}
                    </div>
                    <img src="{{ site.github.url }}/{{ item.thumbnail | default: page.portfolio.defaultThumbnail | default: "style/images/defaultThumbnail.png" }}" alt="" />
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
