{% for subItem in subItems %}
    {% if subItem[0] != "_title" %}
        <li>
            {% assign tocItemCount = tocItemCount | plus: 1 %}
            {% if subItem[1]._title %}
                <a href="{{ tocBaseUrl }}#{{ subItem[0] }}">{{ subItem[1]._title | markdownify | remove: '<p>' | remove: '</p>' }}</a>
                <ul>
                    {% assign subItems = subItem[1] %}
                    {% include tocSubItems.html %}
                </ul>
            {% else %}
                <a href="{{ tocBaseUrl }}#{{ subItem[0] }}">{{ subItem[1] | markdownify | remove: '<p>' | remove: '</p>' }}</a>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}