{% include 'includes/htmlHead.twig' %}
{% include 'includes/head.twig' %}
<body>
    {% include 'includes/nav.twig' %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ content }}
            </div>
        </div>
    </div>
    {% include 'includes/foot.twig' %}
</body>
{% include 'includes/htmlFoot.twig' %}
