a {
    color: #2EAE9B;
}
h2.post-title a:hover {
    color: #2EAE9B
}
a.button,
.forms fieldset .btn-submit,
.comment-form .btn-submit,
.filter li a,
.page-navi ul li a {
    background-color: #2EAE9B;
}
ul li:before {
    color: #616161;
}
.lite1 {
    color: #2EAE9B;
    border-bottom: 1px dotted #2EAE9B;
}
.top-wrapper header {
    background: linear-gradient(137.5deg, #2eae9b 120px, #2a2a2a 40%);
    border: 0 none;
}
.cover-layout .top-wrapper header {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(137.5deg, #B9B9B9 120px, #2a2a2a 40%) 1;
}
@media only screen and (max-width: 959px) {
    .top-wrapper header {
        background: linear-gradient(170deg, #2eae9b 0%, #2a2a2a 60%);
        border: 0 none;
    }
    .cover-layout .top-wrapper header {
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(170deg, #B9B9B9 0%, #2a2a2a 60%) 1;
    }
}
.menu ul li.active a,
.menu ul li a:hover,
.menu ul li a.selected {
    color: #2EAE9B
}
.menu ul li ul:before {
    border-bottom: 5px solid #2EAE9B;
}
.menu ul li ul li:first-child {
    border-top: 2px solid #2EAE9B
}
.menu ul li ul li a:hover {
    background-color: #2EAE9B;
}
.box-wrapper .box:hover i.special {
    color: #2EAE9B;
}
.box-wrapper .box:hover p,
.box-wrapper .box:hover h3 {
    color: #2EAE9B;
}
footer a {
    color: #2EAE9B;
}
footer a:hover {
    color: #fff;
}
.subfooter-wrapper a {
    color: #2EAE9B;
    border-bottom: 0 none;
}
.subfooter-wrapper a:hover {
    color: #fff;
}
ul.contact-info li i {
    color: #2EAE9B;
}
.post .info .date {
    background: #2EAE9B;
}
.post-list h6 a:hover {
    color: #2EAE9B
}
.related-wrapper h2 a:hover {
    color: #2EAE9B
}
#comments .info h2 a:hover {
    color: #2EAE9B
}
#comments a.reply-link:hover {
    color: #2EAE9B
}
.tab a.active,
.tab a:hover {
    color: #2EAE9B
}
#testimonials .author {
    color: #2EAE9B;
}
#testimonials .tab a.active,
#testimonials .tab a:hover {
    background: #2EAE9B;
}
.toggle h4.title:hover,
.toggle h4.title.active {
    color: #2EAE9B
}
.tp-caption .colored {
    color: #2EAE9B
}
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.round .bullet:hover {
    background-color: #2EAE9B
}
.tparrows:hover {
    background-color: #2EAE9B;
}
.touchcarousel .touchcarousel-item .link:hover {
    background-color: #2EAE9B;
}
.touchcarousel .touchcarousel-item .caption a:hover {
    color: #2EAE9B;
}
.touch-carousel .scrollbar {
    background-color: #2EAE9B !important;
}
.fancybox-close:hover,
.fancybox-prev span:hover,
.fancybox-next span:hover {
    background: #2EAE9B !important;
}
.meter > span {
    background-color: #2EAE9B;
}
.pricing .plan h4 span {
    color: #2EAE9B;
}
.portfolio-detail-view .closebutton:hover,
.portfolio-detail-view-remove .closebutton:hover {
    background: #2EAE9B;
}
.carousel .item .link:hover,
.portfolio-detail-view .single .link:hover {
    background-color: #2EAE9B;
}
.carousel-control:hover {
    background-color: #2EAE9B;
}

.fancybox .link:hover {
    background-color: #2EAE9B;
}
.fancybox .overlay,
.overlay a .more {
    background-color: rgba(46,174,155, 0.92);
}
code,
pre {
    background: #f5f5f5;
    border-color: #ccc;
}
.social a i {
    background-color: #2eae9b;
}
h1:hover .learn-more, h2:hover .learn-more, h3:hover .learn-more,
h4:hover .learn-more, h5:hover .learn-more, h6:hover .learn-more {
    color: #2EAE9B;
}
