.items li a .overlay,
.overlay a .more {
    background: #222;
}
.forms fieldset .text-input,
.forms fieldset .text-area,
.searchform input,
.comment-form input,
.comment-form textarea {
    padding-top: 8px;
}
.category-wrapper .category-info {
    width: 100%;
    margin-bottom: 10px;
    float: none;
    height: auto;
    background: #efefef;
    padding: 25px;
}
.category-wrapper .category-info h3 {
    margin-bottom: 10px;
}
.category-wrapper .carousel-wrapper {
    width: 100%;
    float: none;
}
