.top-wrapper { background-color: #2eae9b; }
.top-wrapper > * { background-color: #2a2a2a; }
.top-wrapper > header { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0, FinishOpacity=100, style=1, StartX=15, FinishX=45); }
.top-wrapper > header > .inner { position: relative; }
