{% include documentHeader.html %}
<head>

    {% include headInclude.html %}
    <title>{{ site.title }} - {{ site.description }}</title>
    <meta name="description" content="Pico is a flat file CMS, this means there is no administration backend and database to deal with. You simply create .md files in the 'content' folder and that becomes a page." />
    <link href="{{ site.github.url }}/" rel="canonical" />

</head>
<body class="full-layout cover-layout">

    <div class="body-wrapper">
        <div class="top-wrapper">
            {% include pageHeader.html %}

            <div class="bannercontainer">
                <div class="banner">
                    <ul>
                        <li data-transition="fade">
                            <img src="style/images/art/slider-transparent.png" alt="" style="background-color:#2a2a2a" />
                            <div class="caption sfl huge" data-x="290" data-y="90" data-speed="300" data-start="100" data-easing="easeOutExpo">Introducing</div>
                            <div class="caption sft huge" data-x="600" data-y="90" data-speed="300" data-start="800" data-easing="easeOutExpo"><strong>Pico 1.0</strong></div>
                            <div class="caption sfl big" data-x="center" data-y="176" data-speed="300" data-start="1100" data-easing="easeOutExpo">A stupidly <em>simple</em> <span class="colored">&amp;</span> blazing <em>fast</em>, flat file CMS.</div>
                            <div class="caption sfr big" data-x="center" data-y="245" data-speed="300" data-start="1400" data-easing="easeOutExpo">Making the web easy.</div>
                            <div class="caption sfb" data-x="center" data-y="329" data-speed="300" data-start="1700" data-easing="easeOutExpo"><a href="{{ site.github.url }}/download/" class="button">Download Now</a></div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
            </div>
        </div>

        {{ content }}

        {% include pageFooter.html %}
    </div>

</body>
{% include documentFooter.html %}
