<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Pico - A stupidly simple, blazing fast, flat file CMS.</title>
<meta name="description" content="Pico is a flat file CMS, this means there is no administration backend and database to deal with. You simply create .txt files in the 'content' folder and that becomes a page." />
<!--link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" /-->
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/color/red.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/media-queries.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/js/fancybox/jquery.fancybox.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" />
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="style/type/fontello.css">
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<!--[if lt IE 9]>
<script src="style/js/html5.js" type="text/javascript"></script>
<![endif]-->
<script type="text/javascript" src="style/js/jquery.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="style/js/selectnav.js"></script>
<script type="text/javascript" src="style/js/jquery.slickforms.js"></script>
<script type="text/javascript" src="style/js/jquery.easytabs.min.js"></script>
<script type="text/javascript" src="style/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="style/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="style/js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.2"></script>
<script type="text/javascript" src="style/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.0"></script>
<script type="text/javascript" src="style/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="style/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="style/js/jquery.touchcarousel-1.2.min.js"></script>
<script type="text/javascript" src="style/js/twitter.min.js"></script>
<script type="text/javascript" src="style/js/boostrapslider.js"></script>
<link href="http://picocms.org" rel="canonical" />
</head>
<body class="full-layout">
<!-- Begin Body Wrapper -->
<div class="body-wrapper">
  <!-- Begin Top Wrapper -->
  <div class="top-wrapper">
    {% include pageHeader.html %}
    <div class="bannercontainer">
      <div class="banner">
        <ul>
          <li data-transition="fade"> <img src="style/images/art/slider-transparent.png" alt="" style="background-color:#2a2a2a" />
            <div class="caption sfl huge" data-x="320" data-y="90" data-speed="300" data-start="100" data-easing="easeOutExpo">Introducing</div>
            <div class="caption sft huge" data-x="630" data-y="90" data-speed="300" data-start="800" data-easing="easeOutExpo"><strong>Pico.</strong></div>
            <div class="caption sfl big" data-x="center" data-y="176" data-speed="300" data-start="1100" data-easing="easeOutExpo">A stupidly <em>simple</em> <span class="colored">&</span> blazing <em>fast</em>, flat file CMS.</div>
            <div class="caption sfr big" data-x="center" data-y="245" data-speed="300" data-start="1400" data-easing="easeOutExpo">Making the web easy.</div>
            <div class="caption sfb" data-x="center" data-y="329" data-speed="300" data-start="1700" data-easing="easeOutExpo"><a href="download.html" class="button">Download Now</a></div>
          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
      </div>
    </div>
  </div>
  <!-- End Top Wrapper -->

  {{ content }}

  {% include pageFooter.html %}
</div>
<!-- End Body Wrapper -->
<script type="text/javascript" src="style/js/scripts.js"></script>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100720523); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100720523ns.gif" /></p></noscript>
</body>
</html>
