{% include documentHeader.html %}
<head>

    {% include headInclude.html %}
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}</title>
    <link href="{{ site.base_url }}{{ page.url }}" rel="canonical" />

</head>
<body class="full-layout default-layout">

    <div class="body-wrapper">
        <div class="top-wrapper">
            {% include pageHeader.html %}
        </div>

        <div class="light-wrapper">
            <div class="inner">
                {% include pageHeadline.html %}

                {{ content }}
            </div>
        </div>

        {% include pageFooter.html %}
    </div>

</body>
{% include documentFooter.html %}
