{% include documentHeader.html %}
<head>

    <meta charset="utf-8" />
    <title>Redirecting…</title>
    <link href="{{ page.redirect }}" rel="canonical" />
    <meta http-equiv="refresh" content="0; url={{ page.redirect }}" />

</head>
<body class="redirect-layout">

    <h1>Redirecting…</h1>
    <a href="{{ page.redirect }}">Click here if you are not redirected.</a>
    <script type="text/javascript">window.location = {{ page.redirect|json }};</script>

    {{ content }}

</body>
{% include documentFooter.html %}
