{% include documentHeader.html %}
<head>

    {% include headInclude.html %}
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}</title>

</head>
<body class="full-layout">

    <div class="body-wrapper">
        <div class="top-wrapper">
            {% include pageHeader.html %}
        </div>

        <div class="light-wrapper">
            <div class="inner">
                {% if page.headline or page.title %}
                    <h1 class="aligncenter">
                        {% if page.headline %}
                            {{ page.headline | markdownify | remove: '<p>' | remove: '</p>' }}
                        {% else %}
                            {{ page.title }}
                        {% endif %}
                    </h1>
                {% endif %}
                {% if page.description %}
                    <p class="description aligncenter">
                        {{ page.description | markdownify | remove: '<p>' | remove: '</p>' }}
                    </p><br />
                {% endif %}

                {{ content }}
            </div>
        </div>

        {% include pageFooter.html %}
    </div>

</body>
{% include documentFooter.html %}
